
.App-header {
    background-color: #f8f9fa;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .navigation {
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    color: #;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .auth-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .login-button,
  .signup-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #ff0000;
    color: #fff;
  }
  
  .signup-button {
    background-color: #ff0000;
    color: #fff;
  }

.additional-content {
    display: flex;
    justify-content: space-between;
    background-color: #ff0000; 
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    margin: 0 1rem;
    flex: 1;
}

.dropdown-label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #ffff00; 
    font-weight: bold; 
    cursor: pointer; 
    position: relative;
    transition: color 0.3s ease; 
}
.dropdown-label:hover {
    color: #ffcc00;
}

.dropdown-select {
    display: block; 
    position: absolute;
    top: calc(100% + 5px); 
    left: 0; 
    width: 100%; 
    padding: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 0.9rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    opacity: 0; 
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease; 
}

.dropdown:hover .dropdown-select {
    opacity: 1;
    visibility: visible; 
    transform: translateY(0);
}

.dropdown-select option {
    padding: 0.5rem 1rem;
    cursor: pointer; 
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

.dropdown-select option:hover {
    background-color: #007bff; 
    color: #fff; 
}

.dropdown-label::after {
    content: '▼'; 
    font-size: 0.8rem;
    color: #ffff00; 
    margin-left: 8px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.dropdown:hover .dropdown-label::after {
    transform: rotate(180deg); 
}


  